<html>
  <style>
    .wrapper {
      perspective: 800px;
      perspective-origin: 50% 65%;
      position: absolute;
      width: 410px;
      height: 400px;
    }
    .chalkboard-text {
      background-color: darkolivegreen;
      position: absolute;
      top: -22px;
      left: -7px;
      height: 400px;
      width: 426px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      line-height: 30px;
      transform: rotateY( 35deg );
    }
  </style>
  <body>
    <div class="wrapper">
      <div class="chalkboard-text">
        {{ text }}
        <br />
        {{ text }}
        <br />
        {{ text }}
        <br />
        {{ text }}
        <br />
        {{ text }}
        <br />
        {{ text }}
        <br />
      </div>
    </div>
    <img src="bart-chalkboard.png" style="width:800px;height:604px; position:absolute;z-index:0" />
  </body>
</html>